.collection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 600px) {
  .collection {
    display: flex;
    flex-direction: row;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
